html{
    background-image: url(images/top.png); 
    background-repeat:repeat-x;
    background-position:top;
}
#nav_index ul{
    /*removes the bullet of the unordered list*/
    list-style-type: none;
    width: 100%;
    height: 35px;
    /*centers menu*/
    margin:0%;
    background-color:peru
}
#nav_index ul li {
    /* styles list items*/
    width: 20%;
    float: left;
    /* places horizontally in centers*/
    text-align: center;
    margin-right: 50px;
}
#nav_index ul li a:link, a:visited{
    font-family: 'Noto Serif';
    background-color: white;
    color: #A5A58D;
    border: 2px solid #6B705C;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
#nav_index ul li a:hover, a:active {
    background-color: #A5A58D;
    color: white;
  }
  #nav_index {
    position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  }
body{
    font-family: 'Noto Serif';
    margin: 0;
    padding: 20px;
    background-image: url(images/bottom.png) ;
    background-repeat:repeat-x;
    background-position: bottom;   
}
*{
    box-sizing: border-box;
}
.row:after{
    content: '';
    display: table;
    clear: both;
}
header{
    padding: 5px;
    font-family: 'Noto Serif';
}
header h1{
    text-align: center;
    font-size: 40px;
    color: peru;
    margin: 1.5 0px;
}
.left-column{
    float: left;
    width: 60%;
    padding-left: 150px;
}
.right-column{
    width: 40%;
    float: right;
    padding-left: 20px;
    padding-right: 150px;
    column-width: 400px;
}

.card, .intro{
    padding: 20px;
    background-color: #a4ac86;
    margin-top: 20px;
}
.intro img{
    float: left;
    padding: 5px;
}
.card img{
    width: 100%;
    padding: 3px;
}
.right-column .card img{
    margin-bottom: 10px;
}
#CB{
    width: 265px;
    height: 250px;
    margin: 2px;
    border: 6px double black;
}
footer{
    background-color: peru;
    padding: 5px;
    text-align: left;
    margin-top: 20px;
}
.flex-container{
    display:flex;   
}
.flex-container > div{
    margin: 5px;
    font-size: 15px;
}
.socialmedia{
    padding-left: 60%;
}

.socialmedia img{
    width: 50px;
    height: 50px;
    opacity: 1;
    filter: alpha(opacity=100);
}
  .socialmedia img:hover{
    opacity: 0.3;
    filter: alpha(opacity=30);
  }
/* ScrollBar */
/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: peru; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #a4ac86; 
  }
/* responsive */

  @media(max-width: 800px){
      .left-column, .right-column{
          width: 100%;
          padding: 0px;
      }
  }